#Mensagens {
    display: grid;
    grid-template-areas:
        "Up Up"
        "Botoes Bandeja";
    grid-template-columns: 18% 1fr;
    gap: 12px;
    box-sizing: border-box;
}

#Up {
    grid-area: Up;
}

#Botoes {
    grid-area: Botoes;

}

#Bandeja {
    grid-area: Bandeja;
    margin-top: 9px;
}

@media (max-width: 510px) {
    #Mensagens {
        grid-template-areas:
            "Up"
            "Botoes"
            "Bandeja";
        grid-template-columns: 100%;
        grid-template-rows: 35% 28% 40%;
    }

    #Up {
        grid-area: Up;
        background-color: lightblue;
        position: fixed;
    }

    #Botoes {
        grid-area: Botoes;
        margin-top: 0;
        text-align: center;
    }

    #Bandeja {
        grid-area: Bandeja;
    }
}




@media (max-width: 510px) {
    #Mensagens {
        grid-template-areas:
            "up"
            "Botoes"
            "Bandeja";
        grid-template-columns: 100%;
        grid-template-rows: 30% 22% 1fr;

        @media (max-width: 480px) {
            grid-template-rows: 35% 25% 1fr;

        }

        @media (max-width: 340px) {
            grid-template-rows: 37% 25% 1fr;

        }

        @media (max-width: 310px) {
            grid-template-rows: 40% 25% 1fr;

        }
    }

    #Up {
        grid-area: Up;
    }

    #Botoes {
        grid-area: Botoes;
        margin-top: 60px;
        text-align: center;
    }

    #Bandeja {
        grid-area: Bandeja;
    }

    .link-text {
        display: none;
    }
}